<div id="game-container">
	<div id="game-board">
		<div id="game-board-grid-wrapper">
			<table id="game-board-grid">
			</table>


			<p ngDraggable>Even a smaller area</p>

			<div class="game-grid-object" tabindex="0" *ngFor="let o of gridObjects" [style.width.px]="o.width()"
			[style.height.px]="o.height()"
			[style.backgroundImage]="o.background()"
			(keyup.Space)="onSpaceGridObject($event, o)"
			(mousedown)="onMouseDownGridObject($event, o)"
			(mousemove)="onMouseMoveGridObject($event, o)"
			(mouseup)="onMouseLeaveOrUpGridObject($event, o)"
			(mouseleave)="onMouseLeaveOrUpGridObject($event, o)"
			onmousedown="return false;"
			onmousemove="return false;">
			</div>
		</div>
		
	</div>

</div>