#game-container {
	position: relative;
	width: 100vw;
	min-width: 1200px;
	height: 100vh;
	min-height: 800px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #B7AB97;
}

#game-board {
	position: relative;
	background-image: url('../../assets/puzzle-game-bg.png');
	background-repeat: no-repeat;
	background-size: contain;
	width: 720px;
	height: 560px;
}

#game-board td {
	width: 30px;
	height: 30px;
}

#game-board-grid-wrapper {
	position: absolute;
	top: 28px;
	left: 25px;
	overflow: visible;
}

.game-board-grid-cell {
	border: 1px solid #FFF;
}

.game-grid-object {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #F00;
	background-repeat: no-repeat;
	background-size: contain;
	border: 1px solid #0F0;
	z-index: 99999;
}

.game-grid-object:focus {
    outline: none;
}

.ng-draggable {
  cursor: move;
}