<div id="master-segment">

	<sticky id="master-sticky" sticky-offset-top="80">Sticky element</sticky>

	<div id="master-container">

		<div id="ch-top">
			<div id="ch-top-block">
				<div class="row">
					<div class="col-9">
						<p id="ch-top-block-subtitle">灰藍狼人戰士</p>
						<p id="ch-top-block-title">卡洛特‧海沃爾</p>
					</div>
					<div class="col-3" id="ch-top-block-coins">
						<p>A: 1</p>
						<p>B: 2023</p>
						<p>C: 12093</p>
					</div>
				</div>
			</div>
		</div>

		<h4>關於卡洛特</h4>


		<div class="pull-left">
			<div class="card" style="width: 250px;">
			  <div class="card-block">
			    <h5 class="card-title">月月豆知識</h5>
			    <table class="table table-sm">
			    	<tbody>
			    		<tr>
			    			<td>種族</td>
			    			<td class="text-right">狼人(後天詛咒)</td>
			    		</tr>
			    		<tr>
			    			<td>性別</td>
			    			<td class="text-right">雄</td>
			    		</tr>
			    		<tr>
			    			<td>生日</td>
			    			<td class="text-right">8月5日</td>
			    		</tr>
			    		<tr>
			    			<td>外表年齡</td>
			    			<td class="text-right">35歲</td>
			    		</tr>
			    		<tr>
			    			<td>記憶年齡</td>
			    			<td class="text-right">5年</td>
			    		</tr>
			    		<tr>
			    			<td>身高</td>
			    			<td class="text-right">185cm<br/>(踮腳可至220cm)</td>
			    		</tr>
			    		<tr>
			    			<td>體重</td>
			    			<td class="text-right">120KG</td>
			    		</tr>
			    		<tr>
			    			<td>慣用手</td>
			    			<td class="text-right">雙手可靈活並用，<br>但主要使用左手。</td>
			    		</tr>
			    		<tr>
			    			<td>陣營</td>
			    			<td class="text-right">中立</td>
			    		</tr>
			    	</tbody>
			    </table>
			  </div>
			</div>
		</div>
		<h5>外觀</h5>
		<p>
			毛色灰藍的狼人，比起野獸的氣息，更多的是人類的氣息，最常有的表情是溫和的苦笑臉，似乎不常在朋友和家人面前露出暴怒的一面。
		</p>
		<p>
			右眼留有小刀疤，胸前留有大刀疤，是過去受到具聖光屬性的斬擊後無法完全復原的傷口。左上臂總是綁著暗紅色的頭布條。全身有著數塊大塊黑紋。
		</p>
		<h5>個性</h5>
		<p>
			樂於交友，但不太擅長對話和人際關係的處理。對陌生人雖然也會友善，但會保持戒心。對朋友顯出平常心及外向。朋友有難必定幫忙。對人際關係的定義界線十分模糊，十分容易就能得到牠的好感，以及得到牠的善待。
		</p>
		<p>
			難以接受認識的人在自己面前受難，故此尤其不適合戰爭的場合。認真及在任務狀態時思考比較冷靜，判斷力也不錯；在日常對話中卻顯得遲純和愚蠢。會在奇怪的地方表現出腦筋靈活的一面。
		</p>
		<p>
			有著狼人種族中也算是特別強韌的肉體，加上自我犧牲的個性、不畏懼死亡的優點使然，卡洛特常是戰鬥中的前鋒，為隊友製造敵人的破綻，也以隊友的計劃為先。
		</p>

		<hr>

		<h4>質素</h4>
		<div class="progress ch-stat-ratio-bar">
		  <div class="progress-bar bg-stat-str" style="width: 35%"></div>
		  <div class="progress-bar bg-stat-dex" style="width: 24%"></div>
		  <div class="progress-bar bg-stat-con" style="width: 35%"></div>
		  <div class="progress-bar bg-stat-int" style="width: 3%"></div>
		  <div class="progress-bar bg-stat-mind" style="width: 3%"></div>
		</div>
		<span class="bg-stat-caption" style="width: 34.5%">力量 35%</span>
		<span class="bg-stat-caption" style="width: 23.5%">敏捷 24%</span>
		<span class="bg-stat-caption" style="width: 16.5%">體質 35%</span>
		<span class="bg-stat-caption" style="width: 13%; text-align: right;">魔法 3%</span>
		<span class="bg-stat-caption" style="width: 9.5%; text-align: right;">精神 3%</span>
		
		<div class="pull-right">
			<div class="card" style="width: 280px; margin-top: 25px;">
			  <div class="card-block">
			    <h5 class="card-title">質素分階</h5>
			    <p>隨著角色的取向不同，質素的分配會造成角色間的不同。完全平衡的發展是全素質均在C級中。分階之間有明顯的差異。</p>
			    <p>突出的質素，可輕易跟高階者平分秋色，甚至超越；同樣低下的質素可輕易被高階者拋離。</p>
			    <table class="table table-sm">
			    	<thead>
			    		<tr>
			    			<th>%</th>
			    			<th class="text-right">階級</th>
			    		</tr>
			    	</thead>
			    	<tbody>
			    		<tr>
			    			<td>35+</td>
			    			<td class="text-right">S</td>
			    		</tr>
			    		<tr>
			    			<td>29-34</td>
			    			<td class="text-right">A</td>
			    		</tr>
			    		<tr>
			    			<td>23-28</td>
			    			<td class="text-right">B</td>
			    		</tr>
			    		<tr>
			    			<td>18-22</td>
			    			<td class="text-right">C</td>
			    		</tr>
			    		<tr>
			    			<td>12-17</td>
			    			<td class="text-right">D</td>
			    		</tr>
			    		<tr>
			    			<td>6-11</td>
			    			<td class="text-right">E</td>
			    		</tr>
			    		<tr>
			    			<td>0-5</td>
			    			<td class="text-right">F</td>
			    		</tr>
			    	</tbody>
			    </table>
			  </div>
			</div>
		</div>

		<h5>力量 <small>35% (S)</small> <small class="text-muted">肌肉力量、近戰攻擊威力</small></h5>
		<div class="progress ch-stat-ratio-bar-2">
		  <div class="progress-bar bg-stat-str" style="width: 35%"></div>
		</div>
		<p>卡洛特的主要攻擊手段是大劍、短刃和爪牙。擁有著獸人強壯的身體及長期的戰鬥累積，普通攻擊下卡洛特可單手揮舞自己的大劍，斬擊可砍進地面數十厘米，全力一擊下更可一下砍倒直徑兩米的大樹。換成短刃或爪牙雖然威力不及大劍，但足以作出致命的攻擊。</p>

		<h5>敏捷 <small>24% (B)</small> <small class="text-muted">反應、行動速度、靈活性</small></h5>
		<div class="progress ch-stat-ratio-bar-2">
		  <div class="progress-bar bg-stat-dex" style="width: 24%"></div>
		</div>
		<p>卡洛特的身體靈活度比人類低，沒法做到細緻的手部動作，肌肉向的身軀也不適合潛伏行為。但動態視力及反射神經則相當不錯，遭遇攻擊時能快速反應，繼而防禦及反擊。四肢奔馳下速度最高可達時速60公里。</p>
		
		<h5>體質 <small>35% (S)</small> <small class="text-muted">韌性、異常抗性、生命力</small></h5>
		<div class="progress ch-stat-ratio-bar-2">
		  <div class="progress-bar bg-stat-con" style="width: 35%"></div>
		</div>
		<p>卡洛特的身體是肌肉向的，其強壯而堅實的肉體在獸人種族中也算是極為出眾，狼人毛皮成為卡洛特天生的護甲，更進一步提升對直擊身體的防禦能力。強大的體質也讓卡洛特有十分高的異常狀態抗性，毒、藥、疾病等對卡洛特難以生效。</p>
		<p>卡洛特的狼屬性能力，有一部分跟體質相關。</p>
		
		<h5>魔法 <small>3% (F)</small> <small class="text-muted">學習能力、魔法威力</small></h5>
		<div class="progress ch-stat-ratio-bar-2">
		  <div class="progress-bar bg-stat-int" style="width: 3%"></div>
		</div>
		<p>卡洛特對魔法的學習能力是零，除了在人類時期習得的魔法外，牠不懂得也沒法習得其他魔法，即使藉由特殊原因而擁有魔法能力，操縱能力是弱得有等於沒有。對魔法的認知只有略懂毛皮的程度，可藉由觀察和嗅覺來分辨不同魔法的性質，但背後原理一概不懂。</p>
		
		<h5>精神 <small>3% (F)</small> <small class="text-muted">能量感知力、念力、精神抗性</small></h5>
		<div class="progress ch-stat-ratio-bar-2">
		  <div class="progress-bar bg-stat-mind" style="width: 3%"></div>
		</div>
		<p>脆弱的精神力源自有缺憾、不齊全的卡洛特靈魂本身，使得卡洛特極容易受到精神類能力的影響，且沒有自救手段。無法驅動念力，也無法感知魔法、念力等波動（靈魂除外，詳見狼屬性能力）。可笑的是，只要還能夠正常思考，卡洛特就能推斷自己的精神是不是被影響著，因為中招太多次了。</p>

		<hr>

		<h4>裝備</h4>
		<h5>狼魂『賽吾爾』大劍 <small class="text-muted">近戰武器、狼屬性 寬刃大劍、狼魂『賽吾爾』寄宿</small></h5>
		<p>卡洛特的主武器，總長1.5公尺。大劍中寄宿著狼魂『賽吾爾』，一頭以靈魂為核心能力的狼神，跟卡洛特是有著主次關係，但卡洛特不必對其聽令。</p>

		<h5>動亂之雷刃 <small class="text-muted">近戰武器、雷屬性、反手刀刃、魔神戰戰利品</small></h5>
		<p>卡洛特的副武器，總長0.5公尺，表面彈跳著黃色的雷光，可對目標造成雷屬性傷害及附加的麻痺效果。</p>

		<h5>不滅之拳 <small class="text-muted">近戰武防器、物理屬性、拳鎧、不滅、魔神戰戰利品</small></h5>
		<p>戴在卡洛特右手上的金屬鎧甲，攻防一體，可有效防禦、保護手部，也可有效作出強力物理打擊。</p>

		<h5>龍鱗片甲 <small class="text-muted">防具、皮革、抗火熱、抗純能量、突破力</small></h5> 
		<p>卡洛特護甲套裝的內層護甲，由厚重的抗火龍鱗片為主素材，度身製作而成，部件包括上半身甲、下半身戰裙、護手及護腿，有著附魔使對能量有額外抗性，且提升卡洛特突破妨礙的能力。</p>

		<h5>賽吾爾戰士鎧 <small class="text-muted">防具、金屬、抗黑闇、抗斬、生命加護</small></h5>
		<p>卡洛特護甲套裝的外層護甲，部件包括胸甲、肩甲及背甲，由經聖光祝福過的堅硬金屬打造，印有其故鄉賽吾爾城的徽記，同樣度身製作而成，對黑闇有抗性，同時保有鎧甲該有抗斬性能，上面的附魔使卡洛特更不容易陷入瀕死或死亡。</p>

		<h5>狼人毛皮 <small class="text-muted">天生護甲、皮革、緩衝、外來物阻隔</small></h5>
		<p>卡洛特的毛皮本身就是一種護甲，毛皮能作為緩衝區，減緩外來傷害，也可避免能量或異物直接接觸皮膚層，使得卡洛特可臨時接觸危險物品而不至於重傷。</p>
	</div>

	<p class="ui center aligned tiny header">SilWolf</p>
</div>