h4 {
	margin-top: 25px;
	margin-bottom: 25px;
	font-weight: bold;
}

h5 {
	margin-top: 25px;
}

#master-segment {
	position: relative;
	width: 1030px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30vh;
	padding-left: 30px;
	color: #020112;
}

#master-container {
	min-width: 750px;
	max-width: 750px;
	width: 750px;
	padding: 15px 30px;

	background-color: #EEE;
	box-shadow: 0 8px 16px #111;
}

#master-sticky {
	position: absolute;
	right: 0;
	width: 235px;
	padding: 15px;
	background-color: #EEE;
	box-shadow: 0 8px 16px #111;
}

#ch-top {
	position: relative;
	background: #C00;
	min-height: 120px;
	width: 100%;
}

#ch-top-block {
	position: absolute;
	background: rgba(255, 255, 255, 0.8);
	display: inline-block;
	height: 85px;
	width: 60%;
	right: 5px;
	bottom: 5px;
	padding-left: 30px;
	border-top-left-radius: 85px;
}

#ch-top-block-subtitle {
	margin: 0.5em 0 0 45px;
}

#ch-top-block-title {
	margin: 0;
	font-size: 2.5em;
	line-height: 1.3em;
}

#ch-top-block-coins {
	margin-left: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 5px;
}
#ch-top-block-coins p {
	margin: 0;
	font-size: 0.75em;
}

.ch-stat-ratio-bar {
	height: 8px;
}

.ch-stat-ratio-bar-2 {
	height: 5px;
}

.progress-bar.bg-stat-str { background-color: #A74733; color: #000; }
.progress-bar.bg-stat-dex { background-color: #7EEC19; color: #000; }
.progress-bar.bg-stat-con { background-color: #F16A09; color: #000; }
.progress-bar.bg-stat-int { background-color: #5667F5; color: #FFF; }
.progress-bar.bg-stat-mind { background-color: #AEF3EA; color: #000; }

.progress-bar.bg-stat-str:hover, .progress-bar.progress-bar-strip.bg-stat-str { background-color: #A74733; }
.progress-bar.bg-stat-dex:hover, .progress-bar.progress-bar-strip.bg-stat-dex { background-color: #2AEC19; }
.progress-bar.bg-stat-con:hover, .progress-bar.progress-bar-strip.bg-stat-con { background-color: #F18009; }
.progress-bar.bg-stat-int:hover, .progress-bar.progress-bar-strip.bg-stat-int { background-color: #2F44F5; }
.progress-bar.bg-stat-mind:hover, .progress-bar.progress-bar-strip.bg-stat-mind { background-color: #97D4F6; }

#ch-stat-ratio-bar-caption {
	display: block;
	font-size: .75em;
}

.bg-stat-caption {
	display: inline-block;
	font-size: 0.85em;
}