/* You can add global styles to this file, and also import other style files */
html, body {
	font-size: 15px;
}

body {
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow-x: auto;
}

.card-title {
	margin-top: 0 !important;
}

.pull-left .card {
	margin-right: 15px;
}

.pull-right .card {
	margin-left: 15px;
}